.image-1-icon,
.vector-icon,
.vector-icon1 {
  position: absolute;
  top: 267px;
  left: 32px;
  width: 669.5px;
  height: 603.5px;
  object-fit: contain;
}
.vector-icon,
.vector-icon1 {
  top: 111px;
  left: -47px;
  width: 819px;
  height: 424.5px;
  z-index: 1;
}
.vector-icon1 {
  top: 578px;
  left: 687px;
  width: 1238.2px;
  height: 437.5px;
}
.logogo-1-icon,
.vector-icon2,
.vector-icon3,
.vector-icon4 {
  position: absolute;
  top: 578px;
  left: -0.3px;
  width: 1994.9px;
  height: 523px;
  object-fit: contain;
  z-index: 2;
}
.logogo-1-icon,
.vector-icon3,
.vector-icon4 {
  top: 554.5px;
  width: 1995.1px;
  height: 546.5px;
  z-index: 3;
}
.logogo-1-icon,
.vector-icon4 {
  top: -70px;
  left: 0;
  width: 1273px;
  height: 422px;
  z-index: 2;
}
.logogo-1-icon {
  top: 23px;
  left: 32px;
  width: 375px;
  height: 176px;
  z-index: 3;
}
.image-1-parent,
.vector-parent {
  position: absolute;
  top: 0;
  left: 0;
  width: 1273px;
  height: 352px;
}
.image-1-parent {
  width: 100%;
  height: 100%;
  margin: 0 !important;
  right: 0;
  bottom: 0;
}
.home {
  text-decoration: none;
  position: relative;
  font-weight: 900;
  color: inherit;
  display: inline-block;
  min-width: 77px;
}
.references {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-5xs) 0 0;
}
.learn-more-button,
.learn-more-button-child {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.learn-more-button-child {
  background-color: var(--color-white);
}
.learn-more-button {
  margin: 0 !important;
}
.frame-child,
.learn-more1 {
  position: relative;
  z-index: 1;
}
.learn-more1 {
  width: 249.8px;
  font-weight: 900;
  display: inline-block;
  flex-shrink: 0;
  white-space: nowrap;
}
.frame-child {
  width: 20px;
  height: 15px;
}
.learn-more,
.learn-more-inner {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.learn-more-inner {
  flex-direction: column;
  padding: var(--padding-6xs) 0 0;
  margin-left: -98.2px;
}
.learn-more {
  flex: 1;
  flex-direction: row;
  padding: var(--padding-5xs) 17px var(--padding-6xs) var(--padding-xl);
  position: relative;
  z-index: 3;
}
.risk-factors {
  text-decoration: none;
  position: relative;
  font-weight: 900;
  color: inherit;
  white-space: nowrap;
}
.learn-more-parent,
.risk-factors-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.risk-factors-wrapper {
  flex-direction: column;
  padding: var(--padding-5xs) 0 0;
}
.learn-more-parent {
  width: 487px;
  flex-direction: row;
  padding: 0 38px 0 0;
  box-sizing: border-box;
  max-width: 100%;
}
.references2 {
  text-decoration: none;
  position: relative;
  font-weight: 900;
  color: inherit;
}
.references1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-5xs) 0 0;
}
.main-inner,
.references-parent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.references-parent {
  justify-content: flex-start;
  gap: 65px;
}
.main-inner {
  justify-content: flex-end;
  padding: 0 79px;
  box-sizing: border-box;
}
.welcome-to-sexual {
  margin: 0;
  width: 755px;
  position: relative;
  font-size: inherit;
  font-weight: 900;
  font-family: inherit;
  display: inline-block;
  flex-shrink: 0;
  max-width: 120%;
  z-index: 3;
}
.welcome-to-sexual-self-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 80px 0 606px;
  box-sizing: border-box;
  max-width: 100%;
}
.sexual-self-is {
  position: relative;
  font-weight: 900;
  z-index: 3;
}
.sexual-self-is-a-human-sexuali-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
}
.sexual-behaviourunderstanding {
  position: relative;
  font-weight: 900;
}
.sexual-behaviourunderstanding-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
}
.identifying-sexual-orientation {
  height: 33px;
  position: relative;
  font-weight: 900;
  white-space: pre-wrap;
  display: inline-block;
  z-index: 2;
}
.frame-container,
.frame-wrapper {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.frame-container {
  width: 1081px;
  flex-direction: column;
  justify-content: flex-start;
  gap: 9.5px;
}
.frame-wrapper {
  align-self: stretch;
  flex-direction: row;
  justify-content: flex-end;
  padding: 0 1px;
  box-sizing: border-box;
}
.sexuality-is-influenced {
  position: relative;
  font-weight: 900;
  z-index: 2;
}
.sexuality-is-influenced-by-phy-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
}
.as-sexual-beings {
  margin: 0;
}
.as-sexual-beings-container {
  position: relative;
  font-weight: 900;
  z-index: 2;
}
.frame-group {
  width: 1258px;
  align-items: flex-start;
  padding: 0 var(--padding-xl) 0 0;
  gap: 13px;
  max-width: 100%;
  font-size: var(--font-size-8xl);
  color: var(--color-darkslateblue);
}
.frame-group,
.frame-parent,
.main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  box-sizing: border-box;
}
.frame-parent {
  width: 1338px;
  align-items: flex-start;
  padding: 0 0 0 var(--padding-xl);
  gap: 39px;
  max-width: 100%;
  font-size: 50px;
  color: #74019b;
}
.main {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  overflow: hidden;
  align-items: flex-end;
  padding: 54px 0 541px;
  gap: 132px;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--color-darkslateblue);
  font-family: var(--font-montserrat);
}
@media screen and (max-width: 1200px) {
  .welcome-to-sexual-self-wrapper {
    padding-left: 303px;
    padding-right: 40px;
    box-sizing: border-box;
  }
  .main {
    gap: 66px;
  }
}
@media screen and (max-width: 1050px) {
  .references-parent {
    gap: 32px;
  }
  .main-inner {
    padding-left: var(--padding-20xl);
    padding-right: var(--padding-20xl);
    box-sizing: border-box;
  }
  .welcome-to-sexual {
    font-size: 40px;
  }
}
@media screen and (max-width: 750px) {
  .references-parent {
    display: none;
  }
  .welcome-to-sexual-self-wrapper {
    padding-left: 151px;
    box-sizing: border-box;
  }
  .frame-parent {
    gap: 19px;
  }
  .main {
    gap: 33px;
  }
}
@media screen and (max-width: 450px) {
  .references-parent {
    gap: var(--gap-base);
  }
  .welcome-to-sexual {
    font-size: 30px;
  }
  .welcome-to-sexual-self-wrapper {
    padding-left: var(--padding-xl);
    box-sizing: border-box;
  }
  .as-sexual-beings-container,
  .identifying-sexual-orientation,
  .sexual-behaviourunderstanding,
  .sexual-self-is,
  .sexuality-is-influenced {
    font-size: var(--font-size-3xl);
  }
  .main {
    gap: var(--gap-base);
  }
}
