@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap");
body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --font-montserrat: Montserrat;

  /* font sizes */
  --font-size-8xl: 27px;
  --font-size-3xl: 22px;
  --font-size-5xl: 24px;

  /* Colors */
  --color-white: #fff;
  --color-darkslateblue: #86469c;

  /* Gaps */
  --gap-base: 16px;

  /* Paddings */
  --padding-xl: 20px;
  --padding-20xl: 39px;
  --padding-5xs: 8px;
  --padding-6xs: 7px;
}
